#map {
  width: 100%;      /* full width of parent container */
  height: 600px;    /* initial height for desktop */
  max-width: 100%;  /* prevent overflow */
}



.leaflet-marker-icon {
  filter: contrast(140%);
}
